<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= @recipe.title %></h5>
          <p class="card-text"><%= simple_format @recipe.body %></p><%#siple_formatは、改行が反映されるようになる。%>
          <p class="card-text">
            <small class="text-muted">更新日：<%= @recipe.updated_at.strftime("%Y-%m-%d") %></small><%#strftime("%Y-%m-%d")この書き方は、時刻の表示をカスタマイズしている%>
          </p>
          <% if @recipe.user == current_user %><%#レシピを投稿した人と、ログインしている人が同じならば編集と削除ボタンを表示させる%>
            <%= link_to '編集', edit_recipe_path(@recipe), class: "btn btn-success" %>
            <%= link_to '削除', recipe_path(@recipe), method: :delete, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>